<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<section class="content-header" th:replace="fragments/header"></section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="card">
					<div class="card-body">


						<h2 class="card-title">User Profile</h2>

						<form th:action="@{/private/update_profile}" th:object="${user}"
							method="post" style="max-width: 600px; margin: 0 auto;">
							<div class="m-3">


								<div class="form-group row">
									<label class="col-4 col-form-label">E-mail: </label>
									<div class="col-8">
										<input type="email" th:field="*{email}" class="form-control"
											required />
									</div>
								</div>

								<!-- <div class="form-group row">
									<label class="col-4 col-form-label">Password: </label>
									<div class="col-8">
										<input type="password" th:field="*{password}"
											class="form-control" required minlength="6" maxlength="10" />
									</div>
								</div> -->

								<div class="form-group row">
									<label class="col-4 col-form-label">First Name: </label>
									<div class="col-8">
										<input type="text" th:field="*{firstName}"
											class="form-control" required minlength="2" maxlength="20" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-4 col-form-label">Last Name: </label>
									<div class="col-8">
										<input type="text" th:field="*{lastName}" class="form-control"
											required minlength="2" maxlength="20" />
									</div>
								</div>
								<input type="hidden" th:field="*{userId}" />
								<input type="hidden" th:field="*{password}" />
								<input type="hidden" th:field="*{balance}" />
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
								<div>
									<button type="submit" class="btn btn-primary"
										th:href="@{/private/profile_form(id=${user.userId})}">Update</button>
								</div>


							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="card">
					<div class="card-body">


						<h2 class="card-title">Bank Account</h2>

						<form th:action="@{/private/update_bankaccount}"
							th:object="${bankAccount}" method="post"
							style="max-width: 600px; margin: 0 auto;">
							<div class="m-3">


								<div class="form-group row">
									<label class="col-4 col-form-label">Bank Name: </label>
									<div class="col-8">
										<input type="text" th:field="*{bankName}" class="form-control"
											required />
									</div>
								</div>


								<div class="form-group row">
									<label class="col-4 col-form-label">Title: </label>
									<div class="col-8">
										<input type="text" th:field="*{title}" class="form-control"
											required minlength="6" maxlength="10" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-4 col-form-label">Iban: </label>
									<div class="col-8">
										<input type="text" th:field="*{iban}" class="form-control"
											required minlength="2" maxlength="20" />
									</div>
								</div>

								<div class="form-group row">
									<label class="col-4 col-form-label">Bic: </label>
									<div class="col-8">
										<input type="text" th:field="*{bic}" class="form-control"
											required minlength="2" maxlength="20" />
									</div>
								</div>
								<input type="hidden" th:field="*{bankAccountId}" />
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
								<div>
									<button type="submit" class="btn btn-primary"
										th:href="@{/private/profile_form(id=${bankAccount.bankAccountId})}">Update</button>
								</div>


							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="content-footer" th:replace="fragments/footer"></section>
</body>
</html>
