<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transaction failure</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<section class="content-header" th:replace="fragments/header"></section>
	<div class="container text-center">
        <h3>Your transaction has failed !</h3>
        <h4>Your account was not sufficiently funded.</h4>
    </div>
	<section class="content-footer" th:replace="fragments/footer"></section>
</body>
</html>